body {
    font-family: sans-serif;
}

div {
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

.odin-recipes {
    background-color: aquamarine;
}

.lasagna {
    background-color: red;
}